@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

body {
    background-color:#eafaf1 ;
    overflow-x: hidden;
}

footer {
    height: 100px
}

h1 {
    /*Data science*/
    font-family:'Georgia', sans-serif;
    font-size: 85px; 
    margin-top: 15px;
    font-weight: bold;
    line-height: 1; 
    text-align: center;
    color: #228C4E ;  }

/* my name */ 
.title1 {
    
    font-family:'Georgia', sans-serif;
    color: #2FC16C ;
    font-size: 30px; 
    font-weight: bold;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}


/* My Portfolio */ 
.title2 {
    
    font-family:'Georgia', sans-serif;
    color: #9CA3E7 ;
    font-size: 25px; 
    font-weight: bold;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}
/* Weeks */ 
.title3 {
    
    font-family:'Georgia', sans-serif;
    color: #C7ADEB ;
    font-size: 20px; 
    font-weight:bold;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}
/* explanation text */ 
.title4 {
    
    font-family:'Georgia', sans-serif;
    color: #C7ADEB;
    font-size: 20px; 
    font-weight: normal;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}

/* Nav */
.navbuttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/*for the buttons */
container {
    background-color: #eafaf1;
    align-content: center;
    justify-content: center
}

.button {
    align-content: center;
    border-radius: 4px;
    background-color: #83e2ac;
    border: none;
    color: #27a55e;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 240px;
    transition: all 2s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
  }

.flex {
    display: flex;
    gap: var(--gap, 2rem);
}


#chart17 {
    position: absolute;
    margin-top: 190px;
    right: 120px;
}

.chart { 
    width: 400px;
    height: 390px;
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #2a9d8f solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}

.pngchart {
    margin: 10px;
    padding: 5px;
    background-color: White;
    border: #2a9d8f solid 5px;
    border-radius: 10px;
    font-family: Inter,sans-serif;
    font-size: 10pxp;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pngchart img{
    justify-content: center;
    width: 100%;
    height: auto;
}

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.5rem;
        right: 2.5rem;
        z-index: 9999;
        border: 0;

        background: url(hamburger.svg);
        background-repeat: no-repeat;
    }

    .mobile-nav-toggle[data-visible="true"] {
        background: url(cross.svg);
        fill: #E9C46A;
    }
    .week1,.week2,.week3,.week4,.week5,.week6,.week7,.week8,.week9,.week10 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }

