@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

footer {
    height: 100px
}

h1 {
    /*Data science*/
    font-family:'Georgia', sans-serif;
    font-size: 85px; 
    margin-top: 15px;
    font-weight: bold;
    line-height: 1; 
    text-align: center;
    color: #228C4E ;  
}
/* my name */ 
.title1 {
    
    font-family:'Georgia', sans-serif;
    color: #2FC16C ;
    font-size: 30px; 
    font-weight: bold;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}


/* My Portfolio */ 
.title2 {
    
    font-family:'Georgia', sans-serif;
    color: #9CA3E7 ;
    font-size: 25px; 
    font-weight: bold;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}
/* Weeks */ 
.title3 {
    
    font-family:'Georgia', sans-serif;
    color: #C7ADEB ;
    font-size: 20px; 
    font-weight:bold;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}
/* explanation text */ 
.title4 {
    
    font-family:'Georgia', sans-serif;
    color: #C7ADEB;
    font-size: 20px; 
    font-weight: normal;
    margin-top: 10px;
    line-height: 1; 
    text-align: center;
}




chart {

    border-style: solid;
    border-width: 2px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    border-color: #228C4E;
    background-color: white;
    width: 400px;
    height: 390px;
    margin: 10px;
    padding: 5px;

}
.navbuttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

body { 
    background-color:#eafaf1 ;

}
    /*for the buttons */
    container {
        background-color: #83e2ac;
        align-content: center;
        justify-content: center
    }
    
    .button {
        align-content: center;
        border-radius: 4px;
        background-color: #83e2ac;
        border: none;
        color: #27a55e;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 240px;
        transition: all 2s;
        cursor: pointer;
        margin: 5px;
      }
    
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: .5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: .5s;
      }
      
      
    
      .week1, .week2, .week3 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
